[submodule "StanfordQuadruped"]
	path = submodules/StanfordQuadruped
	url = https://github.com/stanfordroboticsclub/StanfordQuadruped.git
[submodule "LIDARLite_RaspberryPi_Library"]
	path = submodules/LIDARLite_RaspberryPi_Library
	url = https://github.com/garmin/LIDARLite_RaspberryPi_Library.git
[submodule "bazel"]
	path = submodules/bazel
	url = https://github.com/bazelbuild/bazel.git
[submodule "protobuf"]
	path = submodules/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "examples"]
	path = submodules/examples
	url = https://github.com/bazelbuild/examples
[submodule "submodules/opencv"]
	path = submodules/opencv
	url = https://github.com/opencv/opencv.git
[submodule "submodules/models"]
	path = submodules/models
	url = https://github.com/tensorflow/models
[submodule "submodules/Pupper-Raspi-PDB"]
	path = submodules/Pupper-Raspi-PDB
	url = https://github.com/stanfordroboticsclub/Pupper-Raspi-PDB
