[submodule "StanfordQuadruped"]
	path = StanfordQuadruped
	url = https://github.com/stanfordroboticsclub/StanfordQuadruped.git
[submodule "LIDARLite_RaspberryPi_Library"]
	path = submodules/LIDARLite_RaspberryPi_Library
	url = https://github.com/garmin/LIDARLite_RaspberryPi_Library.git
